.title {
    font-size: 2.8em;
    margin-bottom: 0;
}

.header {
    border-bottom: 2px solid rgba(0, 0, 0, 0.308); 
}

.subtextContainer {
    display: inline-flex;
    
}

.byline {
    font-weight: 700;
    margin-bottom: 0;
    padding: 0;
}

.source {
    font-style: italic;
    margin-bottom: 0;
}

.publicationDate {
    margin-top: 0;
    padding: 0;
}

.plusIcon {
    width: 0.8em;
    height: 0.8em;
}