.pullQuoteBlock {
    margin: 5% 10%;
    padding-left: 1em;
    border-left: 0.5em solid blue;
}

.text {
    font-size: 1.5em;
    font-style: italic;
    margin-bottom: 0.5em;
}


.attribution {
    margin: 0;
}
